.icon {
    object-fit: fill;
}

.small {
    width: 16px;
    height: 16px;
}

.medium {
    width: 24px;
    height: 24px;
}

.large {
    width: 32px;
    height: 32px;
}

.extra-large {
    width: 48px;
    height: 48px;
}
