.div{
    background-color: black;
    color: white;
}

.div:hover{
    color: yellowgreen;
    font-weight: bold;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img{
    width: 50vh;
    height: auto;
}